@media (max-width: 767px){div.left
{
	border: 2px solid black;
	margin-block-start: 0em;
    margin-block-end: 0em;
	margin-top: 0px;
	margin-bottom: 0px;
	width: 75%;
	padding: 0px;
	margin-left: 75px;
	background-color: #bbb;
}
div.center
{
	float: center;
	border-style: solid;
	width: 75%;
	padding: 0px;
	margin-left: 75px;
	background-color: #bbb;
}
div.right
{
	float: center;
	border-style: solid;
	width: 75%;
	padding: 0px;
	margin-left: 75px;
	background-color: #bbb;
}
div.bor
{
	box-sizing: border-box;
	border: 1px solid black;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-block-start: 0em;
    margin-block-end: 0em;
	width: 20%;
	padding: 0px;
	text-align: right;
	margin: 0px;
	float: right;
	background-color: lime;
}
}
@media (min-width: 768px){div.left
{
	border: 2px solid black;
	margin-block-start: 0em;
    margin-block-end: 0em;
	margin-top: 0px;
	margin-bottom: 0px;
	width: 45%;
	padding: 0px;
	margin: 37px;
	float: right;
	background-color: #bbb;
}
div.center
{
	border: 2px solid black;
	margin-block-start: 0em;
    margin-block-end: 0em;
	margin: 10px;
	width: 45%;
	padding: 0px;
	margin:20px;
	background-color: #bbb;

}
div.right
{
	margin : 10px;
	clear: left;
	clear: right;
	border-style: solid;
	padding: 0px;
	margin-top: 10px;
	background-color: #bbb;
}
div.bor
{
	box-sizing: border-box;
	border: 1px solid black;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-block-start: 0em;
    margin-block-end: 0em;
	width: 20%;
	padding: 0px;
	text-align: right;
	margin: 0px;
	float: right;
	background-color: lime;
}
}
@media (min-width: 991px){
	*{
		box-sizing: border-box;
	}
	div.f{
		float:left;
	}
	div.left
{
	border-style: solid;
	width: 25%;
	padding: 0px;
	margin: 20px;
	background-color: #bbb;
}
div.center
{
	border-style: solid;
	width: 25%;
	padding: 0px;
	margin:20px;
	background-color: #bbb;
}
div.right
{
	border-style: solid;
	width: 25%;
	padding: 0px;
	margin: 20px;
	background-color: #bbb;
}
div.bor
{
	box-sizing: border-box;
	border: 1px solid black;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-block-start: 0em;
    margin-block-end: 0em;
	width: 20%;
	padding: 0px;
	text-align: right;
	margin: 0px;
	float: right;
	background-color: lime;
}
}

h5{
	margin-block-start: 0em;
    margin-block-end: 0em;
}
p{
	margin-block-start: 0em;
    margin-block-end: 0em;
}
